<html>
    <head>
        <title>F.Society Message Service</title>
    </head>
<body>

<h1>Your message</h1>

<form action="/hello/" method="POST">
    <input type="textarea" name="secret_message">
    <input type="submit">
</form>

</body>
</html>