<html>
<head>
	<title>F.Society Message Service</title>
	<link rel="stylesheet" href="../style.css">
</head>
<body>
	<article>
		<h1>Secret message link</h1>
		<p class="ml">Message link is:</p>
		<p class="ml"><a href="http://<%= message_link %>"><%= message_link %></p>
	</article>
</body>
</html>