<html>
<head>
	<title>F.Society Message Service</title>
	<link rel="stylesheet" href="../style.css">
</head>
<body>
	<article>
		<h1>Your message is decrypted</h1>

		<p class="ml">Decrypted message is:</p>
		<h2 class="ml"><strong><%= message %></strong></h2>
		<p class="ml"><a href="http://<%= url %>">Send new message</a></p>
	</article>
</body>
</html>