body {
	background-image: url('bg.png'); 
	background-repeat: no-repeat;
	background-color: #eee;
	background-size: cover;
}

h1 {
	text-align: left;
	margin-left: 20px;
}

input {
	display: block;
	margin-bottom: 10px;
}

form {
	margin-left: 10px;
	width: 300px;
	background-color: #aaa;
	padding: 1%;
	border-radius: 10px;
}

input[type="textarea"] {
	width: 100%;
	min-height: 50px;
}

input[type="text"] {
	width: 80%;
}

.ml {
	margin-left: 20px;
}